<!DOCTYPE html>
	<html>
		<head>
			<link rel="stylesheet" href="app.css">
		</head>
    <header class="Header header-logged-out  position-relative f4 py-3" role="banner">
      <div class="container-lg d-flex px-3">
        <div class="d-flex flex-justify-between flex-items-center">
          <a class="header-logo-invertocat my-0" aria-label="Homepage" data-ga-click="(Logged out) Header, go to homepage, icon:logo-wordmark"></a>
        </div>
        <div class="HeaderMenu HeaderMenu--bright d-flex flex-justify-between flex-auto">
            <nav class="mt-0">
              <ul class="d-flex list-style-none">
                  <li class="ml-2">
                    <a href="/login" class="login">Log In</a>
                  </li>

              </ul>
            </nav>

          <div class="d-flex">
              <div class="d-lg-flex flex-items-center mr-3">

              </div>

            <span class="d-inline-block">
                <div class="HeaderNavlink px-0 py-2 m-0">
                  <a class="text-bold text-white no-underline" href="/login?return_to=%2FCyberSwagger%2FCyberSwagger%2Ftree%2Fmaster%2Ffrontend" data-ga-click="(Logged out) Header, clicked Sign in, text:sign-in">Sign in</a>
                    <span class="text-gray">or</span>
                    <a class="text-bold text-white no-underline" href="/join?source=header-repo" data-ga-click="(Logged out) Header, clicked Sign up, text:sign-up">Sign up</a>
                </div>
            </span>
          </div>
        </div>
      </div>
    </header>
    <body>
    </body>

		<footer>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h2 id="contact">Contact Us</h2>
            <hr>
          </div>
        </div>
        <div class="row">
                <div class="col-md-4 col-md-offset-2">
            <p id="contact">
              <span class="glyphicon glyphicon-phone-alt"></span><br>
              214-768-1111
            </p>
          </div>
          <div class="col-md-4">
            <p id="contact">
              <span class=""></span><br>
              newtonseye@cyberswagger.us
            </p>
          </div>
        </div>
      </div>
		</footer>



  <div class="footer container-lg px-3" role="contentinfo">
    <div class="position-relative d-flex flex-justify-between py-6 mt-6 f6 text-gray border-top border-gray-light ">
    <ul class="list-style-none d-flex flex-wrap ">
      <li class="mr-3 glyphicon glyphicon-envelope">© 2017 <span title="0.11282s from unicorn-809137129-mqnhw">CyberSwag</span></li>
      <li class="mr-3 glyphicon glyphicon-envelope"><a href="" data-ga-click="Footer, go to terms, text:terms">Contact Us</a></li>
    </ul>
      <svg aria-hidden="true" class="octicon" height="24" version="1.1" viewBox="0 0 16 16" width="24"><path fill-rule="evenodd"></path></svg>
    <ul class="list-style-none d-flex flex-wrap ">

    </ul>
  </div>
</div>

</html>
