<div id="home">
	<header>
		<div class="header-content">
    		<div class="container">
    			<div class="header-content-inner">
					<h1>Update to date information on how to keep yourself secure</h1>
	            	<hr>
	            </div>
    		</div>
		</div>
	</header>

	<section class="bg-about">
		<div class="container">
			<h2></h2>
			<hr>
			<div class="row">
	       <h2>How can you be more secure?</h2>
         <br>
	       <div class="col-md-4">
	         <h3></h3>
           <h6>October 30, 2017</h6>
           <a href="https://economictimes.indiatimes.com/tech/internet/internet-security-101-six-ways-hackers-can-attack-you-and-how-to-stay-safe/articleshow/61342742.cms">Internet security 101: Six ways hackers can attack you and how to stay safe</a>
	       </div>
         <br>
         <div class="col-md-4">
	         <h3></h3>
           <h6>April 16, 2015</h6>
           <a href="https://www.networkworld.com/article/2910746/security0/tips-for-involving-workers-in-cyber-security.html">Tips for involving workers in cyber security</a>
	       </div>
         <br>
         <div class="col-md-4">
	         <h3></h3>
           <h6>October 27, 2017</h6>
           <a href="http://www.slate.com/articles/technology/future_tense/2017/02/cybersecurity_self_defense_how_to_increase_security_on_your_smartphone.html">Cybersecurity Self-Defense: How to Make Your Smartphone More Secure</a>
	       </div>
         <br>
         <div class="col-md-4">
	         <h3></h3>
           <h6>October 28, 2017</h6>
           <a href="http://whnt.com/2017/10/28/protect-yourself-online-during-national-cyber-security-awareness-month/">Protect Yourself Online During National Cyber Security Awareness Month</a>
	       </div>
         <br>
         <div class="col-md-4">
	         <h3></h3>
           <h6>March 31, 2017</h6>
           <a href="https://edricteo.com/cybersecurity/">What Should a Lay Person Know About Cybersecurity?</a>
	       </div>
         <br>
	    </div>
		</div>
	</section>

  <section class="bg-about">
    <div class="container">
      <h2></h2>
      <hr>
      <div class="row">
         <h2>Cybersecurity in the news</h2>
         <br>
         <div class="col-md-4">
           <h3></h3>
           <h6>October 30, 2017</h6>
           <a href="http://www.cityam.com/274706/cyber-attacks-rise-dont-let-your-business-hackers-paradise">Cyber attacks are on the rise — don’t let your business be a hacker’s paradise</a>
         </div>
         <br>
         <div class="col-md-4">
           <h3></h3>
           <h6>October 31, 2017</h6>
           <a href="https://www.forbes.com/sites/quora/2017/10/31/when-should-startups-start-thinking-about-cybersecurity/#2fe58989352f">When Should Startups Start Thinking About Cybersecurity?</a>
         </div>
         <br>
         <div class="col-md-4">
           <h3></h3>
           <h6>October 24, 2017</h6>
           <a href="https://crackberry.com/blackberry-launches-new-cybersecurity-services-safeguard-people-privacy-and-assets#QfIpL4OyX57oL2ek.97">BlackBerry launches new cybersecurity services to safeguard people, privacy and assets</a>
         </div>
         <br>
         <div class="col-md-4">
           <h3></h3>
           <h6>October 23, 2017</h6>
           <a href="https://www.spaceintelreport.com/cyber-security-2-satellite-network-providers-say-theyre-acting-advance-global-standards/">Cyber security 2: Satellite network providers say they’re acting in advance of global standards</a>
         </div>
         <br>
      </div>
    </div>
  </section>

  <section class="bg-about">
    <div class="container">
      <h2></h2>
      <hr>
      <div class="row">
         <h2>Cool websites to get relevant Cyber news</h2>
         <br>
         <div class="col-md-4">
           <a href="https://www.hak5.org">Hak 5</a>
         </div>
         <br>
         <div class="col-md-4">
           <a href="https://thehackernews.com">The Hacker News</a>
         </div>
         <br>
         <div class="col-md-4">
           <a href="https://arstechnica.com">Ars Technica</a>
         </div>
         <br>
         <div class="col-md-4">
           <a href="https://krebsonsecurity.com">Krebs On Security</a>
         </div>
         <br>
      </div>
    </div>
  </section>
</div>
