<body>
<navbar></navbar>
<div id="home">
	<header>
		<div class="header-content">
    		<div class="container">
    			<div class="header-content-inner">
					<h2>Up-to-date info on how to keep yourself secure</h2>
	        <hr>
	        </div>
    		</div>
		</div>
	</header>


	<div>
		<!-- START THE FEATURETTES -->

		<div class="row featurette">
			<div class="col-md-7">
				<a class="featurette-heading" href="http://www.cityam.com/274706/cyber-attacks-rise-dont-let-your-business-hackers-paradise">Internet security 101: Six ways hackers can attack you and how to stay safe</a>
				<span class="featurette date"><br>October 30, 2017</span>
				<p class="lead">Headlines have been dominated by news of cyber attacks over recent months. But to date, no hack rivals the WannaCry virus, which temporarily crippled the NHS and other organisations around the world...</p>
			</div>
		</div>

		<div class="row featurette">
			<div class="col-md-7 order-md-2">
				<a class="featurette-heading" href="https://www.networkworld.com/article/2910746/security0/tips-for-involving-workers-in-cyber-security.html">Tips for involving workers in cyber security</a>
				<span class="featurette date"><br>April 16, 2015</span>
				<p class="lead">IT might be accountable for cyber security, but every worker needs to be responsible for protecting the organization's computing resources</p>
			</div>
			<div class="col-md-5 order-md-1"><img class="featurette-image img-fluid mx-auto"></div>
		</div>


		<div class="row featurette">
			<div class="col-md-7">
				<a class="featurette-heading" href="https://www.forbes.com/sites/quora/2017/10/31/when-should-startups-start-thinking-about-cybersecurity/#2fe58989352f">When Should Startups Start Thinking About Cybersecurity?</a>
				<span class="featurette date"><br>October 31, 2017</span>
				<p class="lead">When should startups start thinking about cyber security? Answer: From day one....</p>
			</div>
		</div>


		<div class="row featurette">
			<div class="col-md-7 order-md-2">
				<a class="featurette-heading" href="http://www.slate.com/articles/technology/future_tense/2017/02/cybersecurity_self_defense_how_to_increase_security_on_your_smartphone.html">Cybersecurity Self-Defense: How to Make Your Smartphone More Secure</a>
				<span class="featurette date"><br>October 27, 2017</span>
				<p class="lead">Your phone is designed to invisibly communicate everywhere, all the time, with a number of different infrastructures, and it’s this functionality that enables you to make calls, send messages, and use the internet while on the move. It’s also what makes your phone a fundamentally insecure device.</p>
			</div>
			<div class="col-md-5 order-md-1"><img class="featurette-image img-fluid mx-auto"></div>
		</div>

		<div class="row featurette">
			<div class="col-md-7">
				<a class="featurette-heading" href="http://whnt.com/2017/10/28/protect-yourself-online-during-national-cyber-security-awareness-month/">Protect Yourself Online During National Cyber Security Awareness Month</a>
				<span class="featurette date"><br>October 28, 2017</span>
				<p class="lead">October is National Cyber Security Awareness Month that is an annual campaign by Homeland Security to raise awareness about the importance of cybersecurity.</p>
			</div>
		</div>

		<div class="row featurette">
			<div class="col-md-7 order-md-2">
				<a class="featurette-heading" href="https://edricteo.com/cybersecurity/">What Should a Lay Person Know About Cybersecurity?</a>
				<span class="featurette date"><br>March 31, 2017</span>
				<p class="lead">Cybersecurity is the body of technologies, processes and practices designed to protect networks, computers, programs and data from attack, damage or unauthorized access. In a computing context, security includes both cybersecurity and physical security.</p>
			</div>
			<div class="col-md-5 order-md-1"><img class="featurette-image img-fluid mx-auto"></div>
		</div>

		<!-- /END THE FEATURETTES -->
	</div>
	<section>
		<div class="container">
			<h3>Cool websites to get relevant Cyber news</h3>
			<div>
				 <div class="articles">
					 <a class="news" href="https://www.hak5.org">Hak 5</a>
					 <a class="news" href="https://thehackernews.com">The Hacker News</a>
					 <a class="news" href="https://arstechnica.com">Ars Technica</a>
					 <a class="news" href="https://krebsonsecurity.com">Krebs On Security</a>
				 </div>
			</div>
		</div>
	</section>

</div>
<footer class="container">
	<p class="float-right"><a href="#">Back to top</a></p>
	<p>&copy; Newtons Eye Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>
</body>
