body {
  background-color: #FFECFA;
  background-image: url("/assets/images/transparentLock.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.register{
  font-size: 1rem;
}
.cyber-header{
  margin-left: 30%;
  font-size: 8.5rem;
  color: rgba(224, 0, 165, 0.91);
  font-style: italic;
  font-family: "futura-pt", Helvetica, Arial, sans-serif;
  font-weight: 100;
  padding-bottom: 4%;
  margin-top: 10%;
}
.cyber-description{
  margin-left: 14%;
  font-family: "futura-pt", Helvetica, Arial, sans-serif;
  font-style: italic;
  color: rgba(224, 0, 165, 0.91);
  font-size: 1.6rem;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  color: rgba(224, 0, 165, 0.91);
  margin: 0 auto;
}
.phone-num{
  font-family: "futura-pt", Helvetica, Arial, sans-serif;
  padding-left: 14%;
  bottom: 0;
}
.email{
  font-family: "futura-pt", Helvetica, Arial, sans-serif;
  margin-left: 50%;
  bottom: 0;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 14px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 5px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
  width: auto;
  max-width: 100%;
  /* background-color: #eee; */
}
.btn{
  margin-bottom: 79.5%;
}
