<body role="main">
<navbar></navbar>

<p class="cyber-header">CyberSwagger</p>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">

    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner">

      <div class="first-slide carousel-item active">
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Are You Protected?</h1>
            <p>Stay up to date on important security information that can keep you and your employees ahead of attackers.</p>
            <p><a class="btn btn-secondary btn-lg" href="#" role="button">Learn more »</a></p>
          </div>
        </div>
      </div>

      <div class="second-slide carousel-item">
        <div class="container">
          <div class="carousel-caption text-right">
            <h1>Current Threats</h1>
            <p>View our current news articles and see what recommendations we provide as far as trustworthy sources for attacks.</p>
            <p><a class="btn btn-lg btn-primary" href="#" role="button">More Details »</a></p>
          </div>
        </div>
      </div>

      <div class="third-slide carousel-item">
        <div class="container">
          <div class="carousel-caption">
            <h1>Experience a Threat?</h1>
            <p>If you or your organization has experienced a threat firsthand, share your experience so that others can protect their organizations.</p>
            <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#exampleModal">Report a Threat »</button>

          </div>
        </div>
      </div>

    </div> <!-- END CAROUSEL-INNER DIV -->


    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Report a Threat</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group">
                <label for="recipient-name" class="form-control-label">Location:</label>
                <input type="text" class="form-control" id="recipient-name">
              </div>
              <div class="form-group">
                <label for="message-text" class="form-control-label">Threat Type:</label>
                <div class="dropdown">
                  <button class="btn btn-secondary dropdown-toggle form-control" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose a Threat Type...
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                    <button class="dropdown-item" type="button">Trojan</button>
                    <button class="dropdown-item" type="button">Virus</button>
                    <button class="dropdown-item" type="button">Worm</button>
                    <button class="dropdown-item" type="button">Spyware</button>
                    <button class="dropdown-item" type="button">Scarceware</button>
                    <button class="dropdown-item" type="button">Keylogger</button>
                    <button class="dropdown-item" type="button">Pharming</button>
                    <button class="dropdown-item" type="button">Botnet</button>
                    <button class="dropdown-item" type="button">Exploit</button>
                    <button class="dropdown-item" type="button">Phishing</button>
                    <button class="dropdown-item" type="button">DDoS</button>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="message-text" class="form-control-label">Threat Severity:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
              <div class="form-group">
                <label for="message-text" class="form-control-label">Description:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
              <div class="form-group">
                <label for="message-text" class="form-control-label">Date:</label>
                <textarea class="form-control" id="message-text"></textarea>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Send message</button>
          </div>
        </div>
      </div>
    </div>


    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>

    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>

  </div> <!-- END MYCAROUSEL DIV -->


  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <p class="news">Security in the News</p>
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img class="rounded-circle" src="{{imageUrl + hackerLogo}}" alt="Generic placeholder image" width="220" height="220">
        <h3>Gladius Shows Promise in Utilizing Blockchain Tech to Fight Hackers</h3>
        <p>Blockchain startups are cropping up left and right aiming to disrupt existing services and business models. These range from the trivial to potentially game-changing solutions that can revolutionize the internet as we know it.</p>
        <span><a class="read-more" href="https://thehackernews.com/2017/11/gladius-ddos-protection.html" role="button">Read more »</a></span>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="{{imageUrl + inverseLogo}}" alt="Generic placeholder image" width="220" height="220">
        <h3>Immerse Yourself in Cybersecurity With These Tools and eLearning Bundles</h3>
        <p>We’ve rounded up some of the best learning bundles and software that will provide maximum cyber protection and teach you everything you need to know about online security.</p><br>
        <span><a class="read-more" href="https://www.inverse.com/article/38786-immerse-yourself-in-cybersecurity-with-these-tools-and-elearning-bundles" role="button">Read more »</a></span>
      </div><!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img class="rounded-circle" src="{{imageUrl + threatpostLogo}}" alt="Generic placeholder image" width="220" height="220">
        <h3>Newly Published Exploit <br>Code Used to Spread Mirai Variant</h3>
        <p>Qihoo 360 Netlab researchers reported on Friday that they are tracking an uptick in botnet activity associated with a variant of Mirai. Targeted are ports 23 and 2323 on internet-connected devices...</p>
        <span><a class="read-more" href="https://threatpost.com/newly-published-exploit-code-used-to-spread-marai-variant/128998/" role="button"><br>Read more »</a></span>
      </div><!-- /.col-lg-4 -->
    </div><!-- /.row -->

  </div><!-- END CONTAINER -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; Newtons Eye Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>

</body>
